<template name="login">
    <form id="LoginForm">
        <div class="formline">
            <input type="text" id="username" placeholder="Username or Email">
        </div>
        <div class="formline">
            <input type="password" id="password" placeholder="Password">
        </div>
        <div class="formline">
            {{# if loggingIn }}
                {{ > loading }}
            {{ else }}
                <button>LOGIN</button>
            {{/ if }}
            <span>
                Don't have an account?
                <a href="{{ pathFor route='Register' }}">Sign Up</a>
            </span>
        </div>
    </form>
</template>

<template name="register"></template>

<template name="profile">
    <div id="Profile">
        <div class="profile-user clearfix">
            <div class="avatar">
                <img src="{{ profile.avatar }}">
            </div>
            <span class="bio">
                {{ profile.username }}
                <p>I am Yasar icli, a software engineer living in Istanbul/Turkey. I work for @Markafoni platform.</p>
            </span>
        </div>
    </div>
</template>
