<template name="login">
    <form id="LoginForm">
        <div class="formline">
            <input type="text" id="username" placeholder="Username or Email">
        </div>
        <div class="formline">
            <input type="password" id="password" placeholder="Password">
        </div>
        <div class="formline">
            <button>LOGIN</button>
            <span>
                Don't have an account?
                <a href="{{ pathFor route='Register' }}">Sign Up</a>
            </span>
        </div>
    </form>
</template>

<template name="register"></template>

<template name="profile">
    {{ profile.username }}
</template>
