<template name="login">
    {{# if loggingIn }}
        {{ > loading }}
    {{ else }}
        <form id="LoginForm">
            <div class="formline">
                <input type="text" id="username" placeholder="Username or Email">
            </div>
            <div class="formline">
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="formline">
                <button>LOGIN</button>
                <span>
                    Don't have an account?
                    <a href="{{ pathFor route='Register' }}">Sign Up</a>
                </span>
            </div>
        </form>
    {{/if}}
</template>

<template name="register"></template>

<template name="profile">
    <div id="Profile">
        {{# if profile }}
            <div class="profile-user clearfix">
                <div class="avatar {{ you profile._id }}">
                    <img src="{{ profile.avatar }}">
                </div>
                <span class="bio">
                    {{ profile.username }}
                    <p>{{ profile.profile.bio }}</p>
                </span>
            </div>
        {{ else }}
            <div class="notFound">
                <b>Profile Unavailable</b>
                Sorry, this profile is not available at the moment. Please try again shortly.
            </div>
        {{/if}}
    </div>
</template>
