<template name="photos">
    <ul id="Photos">
        {{# each photos userId }}
            {{# if this.isUploaded }}
                <li class="{{# if ../userPage }}border0{{/if}}">
                    {{# unless ../userId }}
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="{{ user.avatar }}">
                            </div>
                            <a href="{{ pathFor route='Profile' username=user.username }}" class="username">{{ user.username }}</a>
                        </div>
                    {{/unless}}
                    <div class="time clearfix {{# if ../userId }}userPageTime{{/if}}">
                        <i class="fa fa-clock-o"></i> {{ livestamp uploadedAt }}
                    </div>
                    <img src="{{ url }}" class="photo">
                    {{# unless ../userId }}
                        <div class="likes clearfix">
                            {{# if likes.count }}
                                <div class="like-count">
                                    <i class="fa fa-heart"></i> <b>{{ likes.count }}</b> likes
                                </div>
                            {{/if}}
                            <div class="like {{#if liked }}liked{{/if}}">
                                <i class="fa fa-heart-o"></i>
                            </div>
                        </div>
                    {{/unless}}
                </li>
            {{/if}}
        {{ else }}
            <li class="empty">
                <div>
                    <i class="fa fa-meh-o"></i>
                </div>
                Could not find any photos.
            </li>
        {{/each}}
    </ul>
</template>

<template name="editPhoto">
    {{# if photo }}
        <div id="EditPhoto">
            <div class="edit-photo-header">
                <div class="edit-photo-header-title"></div>
                <a href="#close" class="close">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a href="#share" class="share">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="edit-photo-content">
                <div class="edit-photo-img">
                    {{ > filterPhoto src=photo.data filter=photo.filter }}
                </div>
            </div>
        </div>
    {{/if}}
</template>

<template name="filterPhoto">
    <img src="{{ src }}" class="photo filter" data-filter="{{ filter }}">
</template>
