<template name="photos">
    <ul id="Photos">
        {{# each photos }}
            {{# if this.isUploaded }}
                <li>
                    <div class="user clearfix">
                        <div class="avatar">
                            <img src="{{ user.avatar }}">
                        </div>
                        <a href="{{ pathFor route='Profile' username=user.username }}" class="username">{{ user.username }}</a>
                    </div>
                    <div class="time">
                        <i class="fa fa-clock-o"></i> {{ livestamp uploadedAt }}
                    </div>
                    <img src="{{ url }}" class="photo" data-filter="Nashville">
                </li>
            {{/if}}
        {{ else }}
            <li class="empty">
                <div>
                    <i class="fa fa-meh-o"></i>
                </div>
                Could not find any photos.
            </li>
        {{/each}}
    </ul>
</template>

<template name="editPhoto">
    {{# if photo }}
        <div id="EditPhoto">
            <div class="edit-photo-header">
                <div class="edit-photo-header-title"></div>
                <a href="#close" class="close">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a href="#share" class="share">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="edit-photo-content">
                <div class="edit-photo-img">
                    <img src="{{ photo.data }}" class="photo">
                </div>
                <div class="edit-photo-desc">
                    <textarea id="desc" placeholder="Photo Desc"></textarea>
                </div>
            </div>
        </div>
    {{/if}}
</template>
