<template name="photos">
    <ul id="Photos">
        {{# each photos }}
            {{# if this.isUploaded }}
                <li>
                    <div class="user clearfix">
                        <div class="avatar">
                            <img src="{{ user.avatar }}">
                        </div>
                        <a href="{{ pathFor route='Profile' username=user.username }}" class="username">{{ user.username }}</a>
                    </div>
                    <div class="time">
                        <i class="fa fa-clock-o"></i> {{ livestamp uploadedAt }}
                    </div>
                    <img src="{{ url }}" class="photo" data-filter="Nashville">
                </li>
            {{/if}}
        {{ else }}
            <li class="empty">
                <div>
                    <i class="fa fa-meh-o"></i>
                </div>
                Could not find any photos.
            </li>
        {{/each}}
    </ul>
</template>

<template name="editPhoto"></template>
